/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 49px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  opacity: 80%;
  font-weight: 400;
}

h4 {
  font-size: 23px;
  font-weight: 700;
}

p {
  font-size: 20px;
  line-height: 35px;
}

a {
  font-size: 18px;
  text-decoration: none;
}

.div_card {
  width: 45%;
  height: 53vh;
  padding-top: 3vh;
}

.screen_illu {
  position: relative;
  width: 50%;
  height: 47vh;
  margin-left: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illu {
  width: 85%;
}

.upper_part {
  height: 17.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clouds {
  position: absolute;
  top: 35px;
  right: 20px;
}

.logos {
  position: absolute;
  top: 0;
  right: 0;
}

.infos {
  height: 37vh;
  padding: 0 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: 1px solid #EBEBEB;
}
.infos img {
  margin-bottom: 40px;
}
.infos h4 {
  margin-bottom: 30px;
}

.price {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price .text_price {
  font-size: 40px;
  margin-top: 15px;
}
.price .text_price .month {
  font-size: 18px;
}

.infos_wordpress {
  padding: 0 2vw;
}

.infos_vps {
  border-top: 10px solid #93A5FF;
}

.dot_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 65px;
}

.clients_logo {
  display: flex;
  align-items: center;
}

.client {
  height: 100%;
}

.plan_card {
  position: relative;
  width: 46%;
  height: 40vh;
  padding: 50px;
  padding-top: 0;
  border-radius: 5px;
  color: #ffffff;
}
.plan_card h4 {
  margin-bottom: 2vh;
}

.hosting_card {
  width: 22%;
  height: 54vh;
  border-radius: 5px;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.1);
}
.hosting_card p {
  text-align: center;
}
.hosting_card:hover {
  height: 66vh;
}
.hosting_card:hover .infos {
  border-top: 10px solid #93A5FF;
  transition: all 0.3s;
}
.hosting_card:hover .hosting_button {
  display: flex;
}

.vps {
  height: 66vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 11vh 7vw;
}

.services_container {
  padding: 6vh 7vw;
}

.button_container {
  display: flex;
  justify-content: flex-end;
}

.icon_container {
  width: 77px;
  height: 77px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments_container {
  padding-bottom: 8vh;
}

.button {
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #93A5FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button .fleche {
  margin-left: 15px;
}

.hosting_button {
  margin: 60px 0;
  display: none;
}

.vps_button {
  display: flex;
}

.trial_button {
  color: #ffffff;
  width: 177px;
  height: 54px;
  padding: 0;
  margin: 80px auto 0;
}

.comment {
  width: 45%;
  display: flex;
  flex-direction: row;
}
.comment .profil {
  width: 140px;
  height: 140px;
}
.comment .comment_content {
  margin-top: 25px;
  margin-left: 20px;
}
.comment .comment_content .text_comment {
  font-size: 23px;
}
.comment .comment_content .name {
  font-weight: 700;
  margin-top: 10px;
}
.comment .comment_content .stars {
  margin-bottom: 15px;
}

.left_comment {
  margin: 0 2.5vw 0 4vw;
}

.right_comment {
  margin: 0 4vw 0 2.5vw;
}

.services_block {
  display: flex;
  flex-direction: row;
  margin-bottom: 6vh;
}
.services_block :nth-child(2) p {
  opacity: 80%;
}
.services_block img {
  height: 6.5vh;
  margin-right: 1.5vw;
}
.services_block h4 {
  margin-bottom: 3vh;
}

.dot {
  border-radius: 100%;
  opacity: 38%;
  background-color: #93A5FF;
  width: 12px;
  height: 12px;
  margin: 0 11px;
}

.big_dot {
  opacity: 100%;
  width: 21px;
  height: 21px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dotted_square {
  z-index: 10;
  width: 25%;
  position: absolute;
}

.right {
  top: 0;
  right: 0;
}

.left {
  bottom: 0;
  left: 0;
}

.comments_right {
  width: 10%;
  top: -33px;
  right: 10px;
}

.comments_left {
  width: 10%;
  bottom: -50px;
  left: 10px;
}

.bg_light_blue {
  background-color: #F7F8FF;
}

.bg_blue {
  background-color: #93A5FF;
}

.bg_dark_blue {
  background-color: #424D83;
}

.bg_darker_blue {
  background-color: #384170;
}

.bg_credit_card {
  background-color: #2D355D;
}

.bg_white {
  background-color: #ffffff;
}

.container h2, .container h3 {
  display: flex;
  justify-content: center;
}
.container h2 {
  margin-bottom: 2vh;
}
.container h3 {
  margin-bottom: 8vh;
  opacity: 80%;
}

.section {
  width: 100%;
}

.comments {
  position: relative;
}

header {
  width: 100%;
  height: 82vh;
  background-image: url(img/header/background.png);
  background-position: center;
  background-size: cover;
}
header .header_container {
  padding: 0 7vw;
  height: 88vh;
}
header .header-content {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
}
header .header-content .header-text {
  width: 50%;
}
header .header-content .header-text h1 {
  padding: 3vh 0;
}
header .header-content .header-text h3 {
  padding-bottom: 6vh;
}
header .header-content img {
  width: 45%;
}

form {
  display: flex;
  flex-direction: row;
}
form input, form select {
  color: #ffffff;
  border: none;
  padding: 0.8vw;
  font-size: 20px;
}
form .search-domain {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 3px;
  width: 45%;
}
form .search-domain::placeholder {
  color: #ffffff;
}
form .select-domain {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}
form .form-button {
  background-color: #93A5FF;
  margin-left: 2vw;
  font-weight: 600;
  color: #ffffff;
}

.footer_grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-template-rows: 280px 1fr;
}
.footer_grid .footer_hosting {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer_grid .footer_features {
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer_grid .footer_support {
  grid-column: 3/4;
  grid-row: 1/2;
}
.footer_grid .footer_cards {
  grid-column: 4/5;
  grid-row: 1/2;
}
.footer_grid .footer_adress {
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer_grid .footer_documents {
  grid-column: 4/5;
  grid-row: 2/3;
}

nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
nav .logo-nav {
  padding-top: 4.5vh;
  height: min-content;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
nav ul li {
  padding: 4.5vh 1vw 1.5vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
nav ul .plans {
  min-width: 130px;
}
nav ul .tools {
  min-width: 200px;
}
nav ul .hover:hover {
  transition: all 0.3s;
  background-color: #93A5FF;
}
nav ul .login {
  padding: 3vh 0 0;
  min-width: 150px;
}
nav ul .login-a {
  width: 80%;
  background-color: #ffffff;
  color: #93A5FF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul .login-a img {
  margin-left: 20px;
}

footer {
  background-image: url(img/footer_bg.png);
  background-position: center;
  background-size: cover;
  padding-top: 10vh;
  color: #ffffff;
}
footer .footer_container {
  padding: 10vh 7vw;
}
footer .footer_container a {
  color: #ffffff;
}
footer .footer_container .title {
  margin-bottom: 30px;
}
footer .footer_container .link {
  margin-bottom: 15px;
}
footer .footer_container .credit_cards {
  display: flex;
  flex-direction: row;
}
footer .footer_container .credit_cards .bg_credit_card {
  border-radius: 5px;
  width: 87px;
  height: 49px;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_container .footer_adress img {
  margin-bottom: 20px;
}
footer .footer_container .footer_adress p {
  line-height: 25px;
}
footer .footer_container .footer_documents {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
footer .footer_container .footer_documents .brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
footer .footer_container .footer_documents .brands img {
  margin-left: 10px;
}
footer .footer_container .footer_documents .document {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_container .footer_documents .document .document_link_left {
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}
footer .footer_container .footer_documents .document .document_link_right {
  padding-left: 20px;
}
footer .footer_container .footer_documents .document a {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
