.div_card {
    width: 45%;
    height: 53vh;
    padding-top: 3vh;
}

.screen_illu {
    position: relative;
    width: 50%;
    height: 47vh;
    margin-left: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illu {
    width: 85%;
}


.upper_part {
    height: 17.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan_button {
    display: flex;
    align-items: center;
    width: 27%;
    text-decoration: none;
    font-weight: 700;
    color: $blue1;
    .fleche {
        margin-left: 15px;
    }
}

.clouds {
    position: absolute;
    top: 35px;
    right: 20px;
}

.logos {
    position: absolute;
    top: 0;
    right: 0;
}