.div_card {
    width: 45%;
    height: 53vh;
    padding-top: 3vh;
}

.screen_illu {
    position: relative;
    width: 50%;
    height: 47vh;
    margin-left: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illu {
    width: 85%;
}


