header {
    width: 100%;
    height: 88vh;
    background-image: url(img/header/background.png);
    background-position: center;
    background-size: cover;

    .container {
        padding: 0 7vw;
        height: 88vh;
    }

    nav {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .logo-nav {
            padding-top: 4.5vh;
            height: min-content;
        }

        ul {
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            li {
                padding: 4.5vh 1vw 1.5vh;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                min-width: 100px;
                display: flex;
                justify-content: center;

                a{
                    color: $white;
                    text-decoration: none;
                    font-size: 20px;
                }
                
            }

            .plans {
                min-width: 130px;
            }

            .tools {
                min-width: 200px;
            }

            .hover {

                &:hover {
                    transition: all 0.3s;
                    background-color: $blue1;
                }
            }

            .login {
                padding: 3vh 0 0;
                min-width: 150px;
                
                &-a {
                    width: 80%;
                    background-color: $white;
                    color: $blue1;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .header-content {
        height: 65vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: white;

        .header-text {
            width: 50%;

            h1 {
                padding: 3vh 0;
            }
    
            h3 {
                padding-bottom: 6vh;
            }
    
            form {
                input, select {
                    background-color: $blue3;
                    color: $white;
                    border: none;
                    padding: 0.8vw;
                    font-size: 20px;
                }
                .search-domain {
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    width: 45%;
                    &::placeholder {
                        color: $white;
                    }
                }
                .select-domain {
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                    cursor: pointer;
                }
                .form-button {
                    background-color: $blue1;
                    font-size: 18px;
                    padding: 1vw;
                    border: none;
                    border-radius: 5px;
                    margin-left: 2vw;
                    cursor: pointer;
                }
            }
        }

        img {
            width: 45%;
        }
    }

}

.services {
    width: 100%;

    &--container {
        display: flex;
        flex-direction: column;
        padding: 7vw;

        h2, h3 {
            display: flex;
            justify-content: center;
        }
        h2 {
            margin-bottom: 2vh;
        }
        h3 {
            margin-bottom: 8vh;
        }
    }
    &--content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &--div_card {
        width: 45%;
        height: 53vh;
        padding-top: 3vh;
    }
    &--card {
        display: flex;
        flex-direction: row;
        margin-bottom: 6vh;
        :nth-child(2) {
            p {
                line-height: 35px;
            }
        }
        img {
            height: 6.5vh;
            margin-right: 1.5vw;
        }
        h4 {
            margin-bottom: 3vh;
        }
    }
    &--screen_illu {
        position: relative;
        width: 50%;
        height: 52vh;
        margin-left: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .illu {
        width: 85%;
    }
    &--dotted_square {
        z-index: 10;
        width: 25%;
    }
    .right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .left {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}