.footer_grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    grid-template-rows: 280px 1fr;
    
    .footer_hosting {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer_features {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer_support {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .footer_cards {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .footer_adress {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer_documents {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    @include laptop {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 280px 200px 1fr;

        .footer_cards {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
    
        .footer_adress {
            grid-row: 3 / 4;
        }
    
        .footer_documents {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
    }

    @include phone {
        margin-top: 10vh;
        grid-template-columns: 1fr;
        grid-template-rows: 220px 220px 220px 220px 2fr 2fr;
        grid-gap: 10px;

        .footer_hosting {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .footer_features {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .footer_support {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    
        .footer_cards {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    
        .footer_adress {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    
        .footer_documents {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
    }
}