.bg_light_blue {
    background-color: $light-blue;
}

.bg_blue {
    background-color: $blue1;
}

.bg_dark_blue {
    background-color: $blue2;
}

.bg_darker_blue {
    background-color: $blue3;
}

.bg_white {
    background-color: $white;
}