.button {
    font-size: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $blue1;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    .fleche {
        margin-left: 15px;
    }
}

.hosting_button {
    margin: 60px 0;
    display: none;
}

.vps_button {
    display: flex;
}