.plan_card {
    position: relative;
    width: 46%;
    padding: 50px;
    padding-top: 0;
    border-radius: $radius;
    color: $white;
    h4 {
        margin-bottom: 2vh;
    }

    @include laptop {
        width: 85%;
        margin: auto;
        margin-top: 5vh;
    }
}

.hosting_card {
    width: 22%;
    height: 54vh;
    border-radius: $radius;
    box-shadow: 0 3px 17px rgba($color: #000000, $alpha: 0.1);
    p {
        text-align: center;
    }
    &:hover {
        height: 66vh;
        .infos {
            border-top: 10px solid $blue1;
            transition: all 0.3s;
        }
        .hosting_button {
            display: flex;
        }
    }

    @include laptop {
        width: 60%;
        height: 45vh;
        margin: auto;
        margin-top: 5vh;
    }
}
.vps {
    height: 66vh;

    @include laptop {
        height: 60vh;
    }
}