.container {
    display: flex;
    flex-direction: column;
    padding: 11vh 7vw;
}

.services_container {
    padding: 6vh 7vw;
}

.button_container {
    display: flex;
    justify-content: flex-end;

    @include phone {
        margin-top: 15px;
        justify-content: center;
    }
}

.icon_container {
    width: 77px;
    height: 77px;
    border-radius: $radius;
    @include center;

    @include phone {
        margin: auto;
        margin-bottom: 2vh;
    }
}

.comments_container {
    padding-bottom: 8vh;
}