.dotted_square {
    z-index: 10;
    width: 25%;
    position: absolute;
}
.right {
    top: 0;
    right: 0;
}
.left {
    bottom: 0;
    left: 0;
}

.comments_right {
    width: 10%;
    top: -33px;
    right: 10px;
}

.comments_left {
    width: 10%;
    bottom: -50px;
    left: 10px;
}