.dot {
    border-radius: 100%;
    opacity: 38%;
    background-color: $blue1;
    width: 12px;
    height: 12px;
    margin: 0 11px;
}

.big_dot {
    opacity: 100%;
    width: 21px;
    height: 21px;
}